/* -------------------- PUBLIC STYLES SHEET -------------------- */
/* --------------------  TABLE OF CONTENTS -------------------- */

/* 0. WORKOUT TEMPLATE
/* 0.1 Desktop (min-width: 980px)
/* 0.2 Tablet (min-width: 768px or max-width: 979px)
/* 0.3 Phone (max-width: 767px)
/* 1. WORKOUT TEMPLATE
/* 1.1 Desktop
/* 1.2 Tablet
/* 1.3 Phone
/* 2. EXERCISE TEMPLATE
/* 2.1 Desktop
/* 2.2 Tablet
/* 2.3 Phone
/* 3. FITNESS TEST TEMPLATE
/* 3.1 Desktop
/* 3.2 Tablet
/* 3.3 Phone
/* 4. ARCHIVE TEMPLATE
/* 4.1 Desktop
/* 4.2 Tablet
/* 4.3 Phone
/* 5. MEMBERPRESS
/* 5.1 Desktop
/* 5.2 Tablet
/* 5.3 Phone
/* 6. MISCELLANEOUS
/* 6.1 Desktop
/* 6.2 Tablet
/* 6.3 Phone


/* 0. ---------------- GLOBAL ---------------- */

/*** Main Menu ***/
#main-header .nav li ul { width: 280px; }

#top-menu li li a { width: 260px; padding-bottom: 6px !important; }

#top-menu li > a:hover {
    box-shadow: 0 5px 0 0 #d30716 !important; /*** COLOR AND THICKNESS OF THE LINE ON HOVER ***/
    padding-bottom: 34px;
    opacity: 1 !important;
    color: #d30716; }

#top-menu li.current-menu-item > a,
    .et-fixed-header #top-menu li.current-menu-item > a {
    border: 5px solid #d30716; /*** COLOR AND THICKNESS OF THE BOX ***/
    padding: 10px;
    margin-bottom: -10px; }

/*** Material design Programs section on Home Page ***/
/* Content Overlay Effects */
.progContainer { position: relative; width: 100%; }
.progContainer:hover .progOverlay {opacity: 1; }

.progImage {
    display: block;
    width: 100%;
    height: auto; }

.progOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(211,7,22,0.75); }

.progText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

/* Button Effects */
.material .et_pb_button_module_wrapper {
    margin-top: -45px;
    margin-bottom: 10px !important; }

.material .et_pb_button {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16); }

.material .et_pb_button:hover {
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
    margin-top: -5px;
    margin-bottom: 5px !important; }

/*** CTA Secondary Menu Bar ***/
#top-header .container {
    padding-top: 1.2em;
    font-weight: 600;
    padding-bottom: 0.70em; }

#et-secondary-menu {
    width: 33.3%;
    padding-top: 6px;
    float: right;
    text-align: right; }

.cta {
    width: 33.3%;
    padding-top: 4px;
    float: left;
    text-align:center; }

#et-info {
    width: 33.3%;
    padding-top: 6px;
    float: left;
    text-align: left; }

.cta a {
    background: #fff;
    color: #eb593c !important;
    padding: 5px 10px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 700 !important;
    transition: all 0.5s; }

.cta a:hover { background: #555; color: #fff !important; }


/* 0.1 ------ GLOBAL - DESKTOP ------ */


/* 0.2 ------ GLOBAL - TABLET ------ */

/*** Change Logo on Tablet ***/
@media (max-width: 980px) {
	#logo {content: url("https://hockeyfitclub.com/wp-content/uploads/2017/12/HockeyFit_black_red_500.png");}
}

/* CTA Secondary Menu Bar - Tablet */
@media (max-width: 980px) {
    .cta {display:none;}
    #et-info {width: 100%;}
}

/* CTA Secondary Menu Bar - Tablet */
@media (max-width: 980px) {
    .cta {
        width: 50%;
        text-align:center;
        float: left;
        margin-top: -3px; }

    #et-info {
        width: 50%;
        float: left;
        text-align: left;
        padding-top:0px;
        padding-bottom: 0.75em; }
}


/* 0.3 ------ GLOBAL - PHONE ------ */




/* 1. ---------------- WORKOUT TEMPLATE ---------------- */

/***  Program Navigation Bar (Week & Day buttons) Styling - Desktop ***/
#nav_Menu {margin: 0; }
#gf_nav_Menu {margin: 0; }

/* Style menu bar */
ul.topnav, ul.gf_topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #747d7d;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000; }

/* Float the list items side by side */
ul.topnav li, ul.gf_topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a, ul.gf_topnav li a {
    display: inline-block;
    color: #fff;
    background-color: #676d6d;
    text-align: center;
    padding: 6px 18px;
    margin: 0 1px;
    text-decoration: none;
    font-size: 17px;
    border-top: solid 2px #747d7d;
    border-left: solid 2px #747d7d;
    border-right: solid 2px #747d7d;
    border-bottom: solid 2px #676d6d; }

ul#myTopnav.topnav, ul#gf_myTopnav.gf_topnav {
    padding: 0px 0px;
    list-style-type: none;
    margin: auto; }

/* Change style of links on hover */
ul.topnav li a:hover, ul.gf_topnav li a:hover {
    background-color: #3f4444;
    border-top: solid 2px #3f4444 !important;
    border-left: solid 2px #3f4444 !important;
    border-right: solid 2px #3f4444 !important;
    border-bottom: solid 2px #3f4444 !important; }

/* Change style of active link */
.activeDay a {
    background-color: #3f4444 !important;
    border-top: solid 2px #3f4444 !important;
    border-left: solid 2px #3f4444 !important;
    border-right: solid 2px #3f4444 !important;
    border-bottom: solid 2px #3f4444 !important; }


/***  Program / Workout Template - Content Styling ***/
.prog-container {
    max-width: 1920px;
    position: relative;
    text-align: left;
    padding-top: 0px;
    margin: auto;
    width: 95%;
    margin-bottom: 25px; }

.progHeader {
    margin-bottom: 25px; }

.b2p_program_week {
    padding: 0px;
    margin-bottom: 10px; }

.b2p_program_day, .gf_workout_day {
    padding: 5px;
    border: solid 1px black;
    background-color: #F7CE3E;
    margin-bottom: 10px; }

/*.b2p_exercise, .gf_exercise {
    float: left;
    padding: 5px;
    border: solid 1px black;
    background-color: white;
    margin: 4px;
    border-radius: 5px;
    min-height: 225px;
    width: 49%; }*/

.b2p_exercise, .gf_exercise {
    float:none;
    padding: 5px;
    border: solid 1px black;
    background-color: white;
    margin-bottom: 4px;
    border-radius: 5px;
    min-height: 150px;
    width: 100%; }

.gf_workout_day h4 {
    line-height: .95em !important;
}

.workoutTabWeek {
	background-color: black;
	color: white;
	padding: 4px 6px;
	border-radius: 0px 0px 8px 8px;
}

.workoutTabDay {
	background-color: white;
	color: black;
	padding: 4px 6px;
	border-radius: 0px 0px 8px 8px;
}

.eContainer {
   overflow: auto;
   padding: 0; }

.hideWeek {display:none;}

.hideDay {display:none;}

.shortDescription {
    margin: 10px auto;
    font-size: 1.25em;
    font-weight: 600; }

.progDetails { margin: 10px auto; }


/* Style program copy button */
.progDuplicate a {
    font-size: 14px !important;
    color: #fff !important;
    background: #676d6d !important;
    border-color: #676d6d !important;
    cursor: pointer !important; }

.progDuplicate a:hover {
    background: #3f4444 !important;
    border-color: #fff !important; }

/* Style exercise update form button */
#exercise_update_form input[type='submit'] {
    font-size: 14px;
    color: #fff;
    background: #676d6d;
    border-color: #676d6d;
    cursor: pointer; }

#exercise_update_form input[type='submit']:hover {
    background: #3f4444;
    border-color: #fff; }

/*** Update Workout Form Style Sheet ***/

/* Add style to update button */
.gf_workout_day form input[type='submit'], .fit_test_form form input[type='submit']  {
    font-size: 14px !important;
    color: #fff !important;
    background: #676d6d !important;
    border-color: #676d6d !important;
    cursor: pointer !important; }

.gf_workout_day form input[type='submit']:hover, .fit_test_form form input[type='submit']:hover {
    background: #3f4444 !important;
    border-color: #fff !important; }

.gf_exercise form input[type='text'] {
}

.gf_exercise input[type=text] {
    padding: 4px !important;
    border: 1px solid #bbb;
    color: black;
    font-size: 125%;
    width: 100%;
}

.gf_exercise input[type=text]:focus {
    background-color: lightblue;
}

/* 1.1 ------ WORKOUT TEMPLATE - DESKTOP ------ */

@media only screen and (min-width: 981px) {
#exerciseMobileMenu {display: none;}
#gf_exerciseMobileMenu {display: none;}
}

/* 1.2 ------ WORKOUT TEMPLATE - TABLET ------ */

/***  Program Navigation Bar (Week & Day buttons) Styling - Tablet ***/
@media only screen and (max-width: 980px) {
    #exerciseMenu {display: none;}
    #gf_exerciseMenu {display: none;}
    .container {width: 95% !important;}
}

/* Style menu bar */
ul.topnav_mobile {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #747d7d;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000; }

/* Float the list items side by side */
ul.topnav_mobile li {float: left;}

/* Style the links inside the list items */
ul.topnav_mobile li a {
    display: inline-block;
    color: #fff;
    background-color: #676d6d;
    text-align: center;
    padding: 4px 6px;
    margin: 0 1px;
    text-decoration: none;
    font-size: 16px;
    border-top: solid 4px #747d7d;
    border-left: solid 2px #747d7d;
    border-right: solid 2px #747d7d;
    border-bottom: solid 2px #676d6d; }

ul#myTopWeekNav.topnav_mobile {
    width: 100%;
    padding: 0px 0px;
    list-style-type: none;
    margin: auto; }

#myTopWeekNav a {
    display: block;
    text-align: center;
    margin: 0 auto; }

ul#myTopDayNav.topnav_mobile {
    padding: 0px 0px;
    list-style-type: none;
    margin: auto; }

/* Change style of links on hover */
ul.topnav_mobile li a:hover {
    background-color: #3f4444;
    border-top: solid 2px #3f4444 !important;
    border-left: solid 2px #3f4444 !important;
    border-right: solid 2px #3f4444 !important;
    border-bottom: solid 2px #3f4444 !important;
    padding: 4px 6px; }

/* Change style of active link */
.activeDay a {
    background-color: #3f4444 !important;
    border-top: solid 2px #3f4444 !important;
    border-left: solid 2px #3f4444 !important;
    border-right: solid 2px #3f4444 !important;
    border-bottom: solid 2px #3f4444 !important; }


/* Modifications for small screens */
@media only screen and (max-width: 980px) {
.prog-container {
    padding-top: 0px;
    width: 95%;
    margin-bottom: 50px; }

.b2p_program_day {
    padding: 0px;}

.b2p_program_day h4 {
    padding: 6px;}

.b2p_exercise {
    padding: 3px;
    border-left: solid 0px black;
    border-right: solid 0px black;
    background-color: white;
    margin: 5px 0px;
    border-radius: 0px;
    width: 100%; }
}

/* 1.3 ------ WORKOUT TEMPLATE - PHONE ------ */




/* 2. ---------------- EXERCISE TEMPLATE ---------------- */

/*** Exercise Detail Page ***/
.pBlockImage { float: left; }

.pBlockContents {
    float: left;
    margin-left: 10px; }


/***  Exercise Table Styling ***/
.eTable {
    width: 100%;
    table-layout: fixed; }

.eTable thead a {
    font-size: 1.25em;
    color: inherit; }

.eTable th {
    font-size: 1.0em;
    padding: 0.5em 0.5em 0em 0em !important; }

.eTable tr, .eTable td {
    padding: 0em !important; }


/*** Exercise Number Style ***/
.exNumStyle {
    font-size: 1.25em;
    border: solid 1px #000;
    border-radius: 2px;
    padding: 2px 8px;
    color: #fff;
    background-color: #676d6d; }

.exNumClassA, .exNumClassB, .exNumClassC, .exNumClassD, .exNumClassE, .exNumClassF, .exNumClassW {
    color: #fff; background-color: #676d6d; }


/*** Update Exercise Form Style Sheet ***/

/* Add style to update button */
.b2p_exercise form input[type='submit'] {
    font-size: 14px !important;
    color: #fff !important;
    background: #676d6d !important;
    border-color: #676d6d !important;
    cursor: pointer !important; }

.b2p_exercise form input[type='submit']:hover {
    background: #3f4444 !important;
    border-color: #fff !important; }

.b2p_exercise form input[type='number'] { width: 50px; }

.set_weight_update { overflow: hidden; }

/* 2.1 ------ EXERCISE TEMPLATE - DESKTOP ------ */

/* 2.2 ------ EXERCISE TEMPLATE - TABLET ------ */

/* 2.3 ------ EXERCISE TEMPLATE - PHONE ------ */




/* 3. ---------------- FITNESS TEST TEMPLATE ---------------- */

/*** Fit-Test Detail Page ***/

.fit_test_form {}

#fit_test_header {}

.fit_test_section_title {}

#fit_test_info { border: solid 1px black; padding: 10px; }

#fit_test_end_date {}

.fit_test_date_input {}

#fit_test_end_value {}

.fit_test_results_input {}

/* Fitness Test Date Style */
#date_container { margin-top: 15px; }

/* Fitness Video Style */
.video_link::before { content: " | "; }

.video_link::after { content: " | "; }

/* Movement Section Style */
.movement_perf_content {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 0px;
}

.movement_perf_details {
    border-bottom:solid 1px black;
    margin-bottom: 5px;
    padding: 10px;
}

/* Max Performance Section Style */
.max_perf_content {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 0px;
}

.max_perf_details {
    border-bottom:solid 1px black;
    margin-bottom: 5px;
    padding: 10px;
}

/* Fitness Test Max Values Style */
#fit_test_value_container { margin-top: 15px; }

/*** Update Fit-Test Form Style Sheet ***/
/* Add style to update button */
#fit_test_results_form form input[type='submit'] {
    font-size: 14px !important;
    color: #fff !important;
    background: #676d6d !important;
    border-color: #676d6d !important;
    cursor: pointer !important; }

#fit_test_results_form form input[type='submit']:hover {
    background: #3f4444 !important;
    border-color: #fff !important; }

#fit_test_results_form form input[type='number'] { width: 50px; }

#submit_container {}

/* 3.1 ------ FITNESS TEST TEMPLATE - DESKTOP ------ */
@media only screen and (min-width: 981px) {
    #fit_test_start_date {
    float:left;
    padding-right: 15px;
    }
    #fit_test_start_value {
    float:left;
    padding-right: 15px;
    }
}

/* 3.2 ------ FITNESS TEST TEMPLATE - TABLET ------ */

@media only screen and (max-width: 980px) {
    #fit_test_start_date {
    padding-right: 15px;
    padding-bottom: 10px;
    }
	#fit_test_start_value {
    padding-right: 15px;
    padding-bottom: 10px;
    }
}

/* 3.3 ------ FITNESS TEST TEMPLATE - PHONE ------ */




/* 4. ---------------- ARCHIVE TEMPLATE ---------------- */

/*** Pagination Menu - Archive Templates ***/
.pagination {
    margin: 20px auto;
    font-size: 16px;
    text-align: center; }

.page-numbers {
    border: 1px solid black;
    padding: 3px 7px; }

span.page-numbers.current {
    font-weight: bold;
    font-size: 22px;
    color: #000000; }

a.page-numbers:hover {
    font-weight: bold;
    font-size: 20px;
    padding: 2px 6px; }

.eFocusMenu {
    max-width: 1250px;
    padding: 20px;
    border: 1px solid #000000; }

li.eFocusMenuTitle {
    font-size: 20px;
    float: left;
    margin-right: 20px;
    color: #000000;
    line-height: 1.50em !important; }

li.eFocusMenuItem { float: left; margin-right: 10px; }

/*** Exercise and Taxonomy Archive Templates - Desktop ***/
.exercise-container {
    max-width: 1250px;
    position: relative;
    text-align: left;
    padding-top: 100px;
    margin: auto;
    width: 90%;
    margin-bottom: 75px; }

.eBlocks {
    float: left;
    padding: 5px;
    border: solid 1px black;
    background-color: white;
    margin: 6px;
    border-radius: 5px;
    min-height: 310px;
    width: 49%; }

.eBlockImage { float: left; }

.eBlockContents {
    float:left;
    margin-left: 10px;
    max-width: 80%;
 }

.taxList {line-height: 0.5em;}

#upperFocusMenu { padding-bottom: 10px; }

li.eFocusMenuItem { float: left; margin-right: 5px; }

/* 4.1 ------ ARCHIVE TEMPLATE - DESKTOP ------ */

/*** Exercise Taxonomy Archives Menu Bar - Desktop ***/
@media only screen and (min-width: 981px) {
    .eFocusMenuMobile {display: none;}
}

/* 4.2 ------ ARCHIVE TEMPLATE - TABLET ------ */

/*** Exercise Taxonomy Archives Menu Bar - Mobile ***/
@media only screen and (max-width: 980px) {
    .eFocusMenu { display: none; }
}

.eFocusMenuMobile {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000; }


/*** Exercise and Taxonomy Archive Templates - Tablet ***/
@media only screen and (max-width: 980px) {
.eBlocks {
    padding: 5px;
    border: solid 1px black;
    background-color: white;
    margin: 4px;
    border-radius: 5px;
    min-height: 310px;
    width: 100%; }

.eBlockImage {
    width: 100%;
    padding: 5px;
}

.eBlockContents {
    margin-left: 10px;
    max-width: 100%;
 }

.eBlockContents h3 { text-align: left;}
}

/* 4.3 ------ ARCHIVE TEMPLATE - PHONE ------ */




/* 5. ---------------- MEMBERPRESS TEMPLATE ---------------- */

/* MemberPress Unauthorized Access Notice and Sign-In */
.mepr-unauthorized-message {
margin: 25px auto; }

.mepr-login-form-wrap {
margin: 25px auto;
border: solid 1px black;
padding: 10px;
}

/*** Membership Plan Group Template ***/
.mepr-price-box-title {font-size: 24px !important;}
.mepr-price-box-price {font-size: 32px !important; line-height: 1.25em; color: #d30716;}


/* Highlighted Plan Box Style */
.mepr-price-menu.fixed .mepr-price-box.highlighted {
    background-color: #d30716;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 1px solid black; }

.mepr-price-menu.fixed .mepr-price-box.highlighted .mepr-price-box-title,
.mepr-price-menu.fixed .mepr-price-box.highlighted .mepr-price-box-price {
    color: #ffffff; }

.mepr-price-menu.fixed.clean .mepr-price-box.highlighted .mepr-price-box-heading,
.mepr-price-menu.fixed.clean .mepr-price-box.highlighted .mepr-price-box-benefits {
    color: #ffffff;
    background-color: #d30716; }

.mepr-price-menu.fixed .mepr-price-box.highlighted .mepr-price-box-footer {color: #ffffff;}

.mepr-price-menu.fixed .mepr-price-box.highlighted .mepr-price-box-button a { }

.mepr-price-menu.fixed .mepr-price-box.highlighted .mepr-price-box-button a:hover { }


/* Membership Page Template */

.prog_active_list {}

.prog_active_item a { color: #0c71c3 !important; font-weight: 600; }

/* 5.1 ------ MEMBERPRESS TEMPLATE - DESKTOP ------ */

/* 5.2 ------ MEMBERPRESS TEMPLATE - TABLET ------ */

/* 5.3 ------ MEMBERPRESS TEMPLATE - PHONE ------ */




/* 6. ---------------- MISCELLANEOUS TEMPLATE ---------------- */

/*** Program Page Print Function Style Sheet ***/

/* Add style to Print button */
#printPage form input[type='button'] {
    font-size: 14px;
    color: #fff;
    background: #676d6d;
    border-color: #676d6d;
    cursor: pointer;
    margin-bottom: 15px;
}

#printPage form input[type='button']:hover {
    background: #3f4444;
    border-color: #fff; }

/* Show website logo on print page */
.webLogo { display: none; }

/* Change style on print button */
@media print {
	.gf_exercise:nth-of-type(5) {
    page-break-before: always;
    top: 100%;
    }
	.gf_exercise:nth-of-type(10) {
    page-break-before: always;
    top: 100%;
    }
    .prog-container { padding-top: 0px; }
    #main-header { display: none; }
    #main-footer { display: none; }
    #b2p_footer { display: none; }
    #sidebar { display:none;}
    #gf_exerciseMenu { display:none;}
    #gf_exerciseMobileMenu { display:none;}
    ul.topnav { display: none; }
    #right-area { display: none; }
    #printPage { display: none; }
    .progDetails { display: none; }
    .shortDescription { display: none; }
    .webLogo { display: block; margin-bottom:10px; }
    .b2p_program_day {
        padding: 0px;
        border: solid 0px black;
        background-color: #fff;
    }
    .b2p_exercise { margin: 2px; }
    .b2p_exercise table thead tr th { font-size: 75%; }
    .b2p_exercise form input[type='button'] {display: none;}
	.gf_workout_day {
        padding: 5px;
        border: none;
        background-color: none;
        margin-bottom: 10px;
    }
}

/*** Vertical line between left and right containers ***/
#main-content .container:before {
    top: 215px;
    background-color: #d30716; }

.widgettitle {
	color: #d30716 !important;
}


/* 6.1 ------ MISCELLANEOUS TEMPLATE - DESKTOP ------ */

/* 6.2 ------ MISCELLANEOUS TEMPLATE - TABLET ------ */

/* 6.3 ------ MISCELLANEOUS TEMPLATE - PHONE ------ */
